<section id="parallax-connect" class="parallax" style="height: 600px;" ng-controller="SplashController as splash">
    <div class="parallax-background2 parallax-background"></div>
    <!-- parallax bg image -->
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="parallax-content">
                    <header class="section-header">
                        <h2 class="section-title"><span>Join Us</span></h2>
                        <div class="spacer"></div>
                    </header>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-offset-1 col-md-4" style="margin-top: 100px">
						  <p>
							     Sign up for the GeoBadges mailing list and we'll inform you of any updates.
						  </p>
				            <input type="text" name="email" class="form-control" placeholder="Your email address" ng-model="splash.address">
                            <input type="text" name="emailname" class="form-control" placeholder="Your name" ng-model="splash.emailName">
                            <button type="button" class="btn btn-default" ng-click="splash.mail(splash.emailName, splash.address)">Sign Up</button>
                            <p>{{splash.successMessage}}</p>
					    </div>
                        <div class="col-md-offset-2 col-md-4">
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/K4qHOKQpaANBuu" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/jonpmarino/geobadges-guide" title="Geobadges guide" target="_blank" style="color: white; text-decoration: underline">Geobadges guide</a> </strong> from <strong><a style="color: white; text-decoration: underline" href="//www.slideshare.net/jonpmarino" target="_blank">jonpmarino</a></strong> </div>
                        </div>
                    </div>
                    <div class="social-icons">
                        <a href="https://twitter.com/geobadges" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <h4 class="text-center">Copyright © 2014. GeoBadges | Web Design - Jeremiah Siochi</h4>
                </div>
            </div>
        </div>
    </div>
</section>