/*
.waypoint-content {
    width: 90%;
    height: 200px;
}*/

.waypoint {
    display: inline-block;
    width: 100px;
    margin: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.waypoint-active {
    color: #337ab7;
}

.pathway-container {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    z-index: 0;
}

.pathway-active {
    opacity: 1;
    z-index: 1000;
}

.pathway-container input[type="text"], .pathway-container textarea {
    background-color: #cccccc;
    color: black;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.pathway-container ::-webkit-input-placeholder {
    color: #656565;
}

.bootstrap .tags .tag-item {
    background-color: #ccc;
    color: black;
    border: none;
}

.pathway-img {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.pathway-invisible {
    /*left: -3000px;*/
    opacity: 0;
}

.pathway-img-lg {
    width: 200px;
    margin: 20px 0px;
}

.navstep {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

.navstep > span {
    margin-right: 15px;
}

.navstep .glyphicon {
    color: white;
}

.navstep button {
    background-color: #449d44;
    border: none;
}

.navstep button:hover {
    background-color: #00d000;
    border: none;
}

#waypoint-nav {
    margin-top: 20px;
}

.create-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-waypoint {

}

.rm-waypoint {
    cursor: pointer;
    margin-top: 12px;
    display: inline-block;
}

.glyphicon-minus {
    margin-right: 5px;
}

.badge-file {
    display: inline-block !important;
    position: relative;
    left: 55px;
}

.badge-container {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    height: 300px;
}

.badge-form {
    margin-top: 60px;
}

.pathway-action {
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
}

.pathway-summary {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.build-pathway {
    position: absolute;
    /*left: 4000px;*/
    opacity: 0;
}

.vertical-spaced {
    margin: 30px 0;
}

.vertical-spaced .text-left {
    padding-left: 0px;
}

.panel-default > .panel-heading {
    text-align: left;
}

.multimedia-area {
    text-align: left;
    margin-top: 15px;
}

.multimedia-area button {
    margin-right: 5px;
}

button .glyphicon {
    margin-left: 5px;
}

.heading-preview {
    display: inline-block;
    margin-left: 20px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-lg {
    width: 1000px;
}

.dropdown-menu > li {
    padding: 3px 20px;
}