<ng-include src="'../header/header.html'"></ng-include>
<h2 class="text-center" style="margin-bottom: 15px;">Explore Lesson Pathways</h2>
<div ng-controller="ExploreController as explore">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 explore-container">
                <h4>Explore by:</h4>
            <div class="btn-group btn-group-explore" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <span click-value ng-show="explore.targetAges !== explore.unselectText" ng-model="explore.targetAges">{{explore.targetAges}}</span><span ng-if="!explore.isDef(explore.targetAges) || explore.targetAges === explore.unselectText">Target Ages</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="age in explore.gradeList" click-set param="explore.targetAges">{{age.desc}}</li>
                </ul>
            </div>
            <div class="btn-group btn-group-explore" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <span click-value ng-show="explore.subjectAreas !== explore.unselectText" ng-model="explore.subjectAreas">{{explore.subjectAreas}}</span><span ng-if="!explore.isDef(explore.subjectAreas) || explore.subjectAreas === explore.unselectText">Subject Area</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="area in explore.subjectList" click-set param="explore.subjectAreas">{{area}}</li>
                </ul>
            </div>
            <div class="btn-group btn-group-explore" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <span click-value ng-show="explore.environments !== explore.unselectText" ng-model="explore.environments">{{explore.environments}}</span><span ng-if="!explore.isDef(explore.environments) || explore.environments === explore.unselectText">Learning Environment</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="env in explore.learningEnvList" click-set param="explore.environments">{{env}}</li>
                </ul>
            </div>
            <input type="text" class="form-control" placeholder="Filter by keyword">
            <button type="button" class="btn btn-default" ng-click="explore.buildQuery()">Search</button>
            </div>
            <div class="col-lg-9">
                <div ng-repeat="pathway in explore.pathways" class="pathway-tile well">
                    <img class="pathway-img" ng-src="{{pathway.badgeImg}}"/>
                    <div class="pathway-summary"><strong><a ui-sref="create.detail({ pathway_id: pathway._id})">{{pathway.title}}</a></strong> <br> {{pathway.description}}</div>
                </div>
            </div>
        </div>
<!--
        <div class="row">
            <div class="col-md-4 text-right"><img class="pathway-img" src="images/ags.png"/></div>
            <div class="col-md-8 text-left">
                <strong><a href="#">This is a static sample pathway</a></strong> <br> If this is the only pathway displayed, no pathways have been created yet.
            </div>
        </div>
-->
    </div>
</div>