<ng-include src="'../header/header.html'"></ng-include>
<div class="container-fluid" ng-controller="CreateController as creator">
    <div class="col-lg-2">
        <div class="pathway-guide">
            <div class="waypoint" ng-class="{'waypoint-active': creator.guidePart === 'define'}" ng-click="creator.changePart('define', 0)"><span class="waypoint-text">Define Lesson</span></div>
            <div class="waypoint" ng-class="{'waypoint-active': creator.guidePart === 'badge'}" ng-click="creator.changePart('badge', 0)"><span class="waypoint-text">Badge</span></div>
            <div ng-repeat="waypoint in creator.waypoints" class="waypoint" ng-class="{'waypoint-active': creator.guidePart === 'waypoint' && creator.currentWaypoint === waypoint.index}" ng-click="creator.changePart('waypoint', waypoint.index)"><span class="waypoint-text">{{waypoint.text}}</span><span class="glyphicon glyphicon-remove rm-waypoint" ng-click="creator.deleteWaypoint(waypoint.index, $event)"></span></div>
            <div class="waypoint" ng-click="creator.addWaypoint()"><span class="waypoint-text glyphicon glyphicon-plus"></span></div>
        </div>
    </div>
    <div class="col-lg-10 section-container" ng-if="creator.guidePart === 'define'">
        <div class="form-horizontal">
        <div class="form-group">
            <label for="pahtway-title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="creator.pathway.title" id="pathway-title" placeholder="Pathway Title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="pahtway-desc" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="creator.pathway.description" placeholder="One Sentence Description"/>
            </div>
        </div>
        <div class="form-group">
            <label for="pahtway-longdesc" class="col-sm-2 control-label">Long Description</label>    
            <div class="col-sm-10">
                <textarea rows="4" class="form-control" ng-model="creator.pathway.longDescription" placeholder="Longer Description"> 
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="pahtway-materials" class="col-sm-2 control-label">Evidence Description</label>    
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="creator.pathway.evidenceDescription" placeholder="Describe the Required Evidence"/>
            </div>
        </div>
        <div class="form-group">
            <label for="pahtway-notes" class="col-sm-2 control-label">Author's Notes</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="creator.pathway.authorNotes" placeholder="Author's Notes"/>
            </div>
        </div>    
        <div class="form-group">
            <label for="pahtway-materials" class="col-sm-2 control-label">Materials / Requirements</label>    
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="creator.pathway.materials" placeholder="Materials/Requirements"/>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <span click-value ng-model="creator.pathway.targetAges">{{creator.pathway.targetAges}}</span><span ng-if="!creator.isDef(creator.pathway.targetAges)">Target Ages</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="age in creator.gradeList" click-set param="creator.pathway.targetAges">{{age.desc}}</li>
                </ul>
            </div>
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <span click-value ng-model="creator.pathway.subjectAreas">{{creator.pathway.subjectAreas}}</span><span ng-if="!creator.isDef(creator.pathway.subjectAreas)">Subject Area</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="area in creator.subjectList" click-set param="creator.pathway.subjectAreas">{{area}}</li>
                </ul>
            </div>
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <span click-value ng-model="creator.pathway.environments">{{creator.pathway.environments}}</span><span ng-if="!creator.isDef(creator.pathway.environments)">Learning Environment</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="env in creator.learningEnvList" click-set param="creator.pathway.environments">{{env}}</li>
                </ul>
            </div>
            </div>
            
            <div class="col-md-8">
                <tags-input class="bootstrap" ng-model="creator.pathway.standards" type="text" replace-spaces-with-dashes="false" placeholder="Enter a Standard"></tags-input>
                <tags-input class="bootstrap" ng-model="creator.pathway.tags" type="text" replace-spaces-with-dashes="false" placeholder="Enter a Tag"></tags-input>
            </div>
                
            </div>
    </div>
    <div class="col-lg-10 section-container" ng-if="creator.guidePart === 'badge'">
        <h2>Badge</h2>
        <div class="col-lg-3">
            <img class="pathway-img-lg" ng-src="{{creator.badgeImage}}" alt="Create a badge by uploading an image"/>
        </div>
        <div class="col-lg-9">
            <h3>Upload Image</h3>
            <form class="badge-form">
                <button type="button" class="btn btn-default">
                    <label class="badge-label">Choose File
                        <input class="badge-file" type="file" file-model="creator.myFile" name="file"><br /><br />
                    </label>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="creator.submitDisabled()" ng-click="creator.createBadge()">
                    {{creator.badgeButtonText()}}
                </button>
                <span>Chosen file: {{creator.myFile.name || 'None Selected'}}</span>
<!--                <input type="submit" id="submit" value="{{creator.badgeButtonText()}}" ng-disabled="creator.submitDisabled()">-->
            </form>
        </div>
    </div>
    <div class="col-lg-10 section-container" ng-if="creator.guidePart === 'waypoint'">
        <div class="col-md-4 col-md-offset-4" style="margin-bottom: 10px;"><input type="text" class="form-control text-center" ng-model="creator.waypoints[creator.currentWaypoint].text" placeholder="Waypoint Title"/></div>
        <textarea ng-model="creator.waypoints[creator.currentWaypoint].content" class="form-control" rows="10" placeholder="Type Content Here">
        </textarea>
        <div class="multimedia-area">
            <button type="button" class="btn btn-default" ng-click="creator.addElement(creator.currentWaypoint, 'URL')">Add URL <span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-default" ng-click="creator.addElement(creator.currentWaypoint, 'image')">Add Image <span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-default" ng-click="creator.addElement(creator.currentWaypoint, 'video')">Add Video <span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
</div>