<!-- create stub-->
<ng-include src="'../header/header.html'"></ng-include>
<div ng-controller="CreateController as creator">
    <section id="page-services" class="page-services" style="padding-top:120px">
       <div class="container" style="padding-bottom:10px" ng-if="creator.guidePart === 'define'">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-responsive" ng-src="{{creator.badgeImage}}" alt="No Badge Image Yet" style="height: 200px" />
                    <div ng-if="!creator.isDef(creator.pathway.badgeImg) && creator.canEdit">By default, a badge image will be created upon submission review. If you'd like to design your own Badge, that's fine too! Check out our <a ui-sref="about">design specs</a> and then email your .jpeg file to <a href="mailto:info@geobadges.org">info@geobadges.org</a> with the name of your badge submission in the subject.</div>
                        <div class="badge-meta">
                            <h3><small>grade</small>
                                <div style="width: 100%; display: inline-block">
                                <div class="btn-group pull-right" dropdown>
                                    <button class="btn btn-dropdown btn-lg dropdown-toggle" type="button" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                                        <span click-value-multi ng-model="creator.pathway.targetAges" ng-bind="creator.pathway.targetAges"></span>
                                        <span ng-if="!creator.isDef(creator.pathway.targetAges)">(select)</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="age in creator.gradeList" click-set param="creator.pathway.targetAges"><a>{{age.desc}}
                                            <span class="glyphicon glyphicon-ok" ng-show="creator.pathway.targetAges.indexOf(age.desc) >= 0"></span>
                                            </a></li>
                                    </ul>
                                </div>
                                </div>
                            </h3>
                            <h3><small>subject area</small>
                                <div style="width: 100%; display: inline-block">
                                <div class="btn-group pull-right" dropdown>
                                    <button class="btn btn-dropdown btn-lg dropdown-toggle" type="button" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                                        <span click-value-multi ng-model="creator.pathway.subjectAreas" ng-bind="creator.pathway.subjectAreas"></span>
                                        <span ng-if="!creator.isDef(creator.pathway.subjectAreas)">(select)</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="area in creator.subjectList" click-set param="creator.pathway.subjectAreas">
                                            <a>{{area}}
                                                <span class="glyphicon glyphicon-ok" ng-show="creator.pathway.subjectAreas.indexOf(area) >= 0"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </h3>
                            <h3><small>learning environment</small>
                                <div style="width: 100%; display: inline-block">
                                <div class="btn-group pull-right" dropdown>
                                    <button class="btn btn-dropdown btn-lg dropdown-toggle" type="button" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                                        <span click-value-multi ng-model="creator.pathway.environments" ng-bind="creator.pathway.environments"></span>
                                        <span ng-if="!creator.isDef(creator.pathway.environments)">(select)</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="env in creator.learningEnvList" click-set param="creator.pathway.environments"><a>{{env}}
                                            <span class="glyphicon glyphicon-ok" ng-show="creator.pathway.environments.indexOf(env) >= 0"></span></a></li>
                                    </ul>
                                </div>
                                </div>
                            </h3>
                    </div>
                    <div ng-if="creator.canAdmin"><br>Feature this badge on the homepage of Geobadges.org?<input type="checkbox" ng-model="creator.pathway.featured"></div>
                    <br>
                    <button class="btn btn-default btn-block" ng-click="creator.changePart('waypoint', 0)">
                        Continue to Lesson
                    </button>
                </div>
                <div class="col-md-9">
                <header class="section-header" style="margin-bottom:15px;border-bottom:2px solid gainsboro">
                    <input type="text" class="form-control" ng-model="creator.pathway.title" placeholder="What’s your badge name?"/>
                </header>
                
                <h3 class="content-title"><span>Creator</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.creator" placeholder="Who’s the creator of this badge?"/></p>
                    
                <h3 class="content-title"><span>Creator's Email</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.creatorEmail" placeholder="Give us a way to contact you"/></p>
                    
                <h3 class="content-title"><span>Description</span></h3>
                <p class="section-subtitle content-subtitle"><textarea rows="4" class="form-control" ng-model="creator.pathway.longDescription" placeholder="How can the badge be explained in a simple, clear way?"> 
                </textarea></p>
                
                <h3 class="content-title"><span>Purpose</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.purpose" placeholder="What is your badge seeking to acknowledge or address?"/></p>
                    
                <h3 class="content-title"><span>Badge Criteria</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.criteria" placeholder="What does someone need to do in order to earn this badge?"/></p>
                    
                <h3 class="content-title"><span>Evidence Description</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.evidenceDescription" placeholder="What evidence is required to earn this badge? For example, it might be a link to an edit in OpenStreetMap, a photo of a hand drawn map, a video showing completed work, etc."/></p>
                    
                <h3 class="content-title"><span>Assessment</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.assessment" placeholder="How will the work be assessed?"/></p>
                 
                <h3 class="content-title"><span>Author's Notes</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.authorNotes" placeholder="Any additional info you'd like to add about this badge?"/></p>
                 
                <h3 class="content-title"><span>Materials</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.materials" placeholder="What materials are needed to start earning this badge?"/></p>
                    
                <h3 class="content-title"><span>Minimum Requirements</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.minimumRequirements" placeholder="What are the minimum requirements for earning this badge?"/></p>
                    
                <h3 class="content-title"><span>Time to Earn</span></h3>
                <p class="section-subtitle content-subtitle"><input type="text" class="form-control" ng-model="creator.pathway.timeToEarn" placeholder="How long do you think it will take to earn this badge, on average?"/></p>
                
                <h3 class="content-title"><span>National Geography Learning Standards</span></h3>
                <p class="section-subtitle content-subtitle">
                    Not familiar with National Geography standards? Click <a href="http://education.nationalgeographic.com/standards/national-geography-standards/">here</a> to learn more.
                    <div style="width: 100%; display: inline-block">
                        <div class="btn-group pull-left" dropdown>
                            <button class="btn btn-dropdown btn-lg dropdown-toggle" type="button" dropdown-toggle aria-haspopup="true" aria-expanded="false" style="font-size: 18px;">
                                <span click-value ng-model="creator.pathway.natGeoStandards">{{creator.pathway.natGeoStandards}}</span>
                                <span ng-if="!creator.isDef(creator.pathway.natGeoStandards)">(select)</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="standard in creator.natGeoStandardList" click-set param="creator.pathway.natGeoStandards"><a>{{standard}}</a></li>
                            </ul>
                        </div>
                    </div>
                </p> 
                    
                <h3 class="content-title"><span>Other Learning Standards</span></h3>
                <p class="section-subtitle content-subtitle"><small>If you're familiar with specific learning standards that your Badge addresses, include them here. If you aren't, don't worry! Educators will be able to add Standards to your Badge once its published.</small>
                    <tags-input class="bootstrap" ng-model="creator.pathway.standards" type="text" replace-spaces-with-dashes="false" placeholder="Enter a Standard"></tags-input></p>
                    
                <h3 class="content-title"><span>Mapping or GIS Platforms</span></h3>
                <p class="section-subtitle content-subtitle"><tags-input class="bootstrap" ng-model="creator.pathway.tools" type="text" replace-spaces-with-dashes="false" placeholder="Enter a Tool"></tags-input></p>
                
                <h3 class="content-title"><span>Tags</span></h3>
                <p class="section-subtitle content-subtitle"><tags-input class="bootstrap" ng-model="creator.pathway.tags" type="text" replace-spaces-with-dashes="false" placeholder="Enter a Tag"></tags-input></p>
                    
                <h3 class="content-title"><span>Supporting Reasearch</span></h3>
                <p class="section-subtitle content-subtitle"><textarea rows="4" class="form-control" ng-model="creator.pathway.research" placeholder="Add citations of research that support the learning activities and outcomes that your Badge touches upon"></textarea></p>

                <button type="button" class="btn btn-default" ng-click="creator.savePathway()">Save</button>
                </div>
            </div>
        </div>
        <div class="container" style="padding-bottom:10px" ng-if="creator.guidePart === 'waypoint' || creator.guidePart === 'badge'">
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-default btn-block" ng-click="creator.changePart('define', 0)">
                        Back to Overview
                    </button>  
                    <nav class="nav-sidebar">
                        <ul class="nav tabs" style="max-height:450px;overflow-y:scroll">
                            <li ng-repeat="waypoint in creator.waypoints" ng-class="{'active': creator.guidePart === 'waypoint' && creator.currentWaypoint === waypoint.index}" ng-click="creator.changePart('waypoint', waypoint.index)">
                                <a>
                                    Step {{waypoint.index + 1}} of {{creator.pathway.waypoints.length}}
                                    <br>
                                    <small>{{waypoint.text}}</small>
                                </a>
                            </li>
                            <li ng-click="creator.addWaypoint()">
                                <a>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <br>
                                    <small>Add Step</small>
                                </a>
                            </li>
                            <li ng-if="creator.guidePart === 'waypoint' && creator.pathway.waypoints.length >= 1" ng-click="creator.deleteWaypoint(creator.currentWaypoint, $event)">
                                <a>
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <br>
                                    <small>Delete Current Step</small>
                                </a>
                            </li>
                            <li ng-if="creator.canAdmin" ng-click="creator.changePart('badge', 0)">
                                <a>
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    <br>
                                    <small>Create Badge</small>
                                </a>
                            </li> 
                        </ul>
                    </nav>
                    <button type="button" class="btn btn-default" ng-click="creator.savePathway()">Save</button>
                    <button type="button" class="btn btn-default" ng-if="!creator.canAdmin && !creator.pathway.reviewable" ng-click="creator.goToPreview()">Submit for Review</button>
                </div>
                <!-- tab content -->
                <div class="col-md-9">
                    <div class="tab-content" ng-if="creator.pathway.waypoints.length < 1 || creator.waypoints.length < 1">
                        To get started, add steps using the <span class="glyphicon glyphicon-plus"></span> button.
                    </div>
                    <div class="tab-content" ng-if="creator.guidePart === 'waypoint' && creator.pathway.waypoints.length >= 1">
                        <header class="section-header" style="margin-bottom:15px">
                            <h3 class="section-title content-title"><span>{{creator.pathway.title}}</span></h3>
                        </header>
                        <div class="tab-pane active text-style">
                            <div class="progress">
                                <div data-percentage="0%" style="width: 10%;" class="progress-bar progress-bar-default" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <input type="text" class="form-control text-center" ng-model="creator.waypoints[creator.currentWaypoint].text" placeholder="Step Title"/>
                            <textarea ng-model="creator.waypoints[creator.currentWaypoint].content" class="form-control" rows="10" placeholder="Type Content Here">
                            </textarea>
                            <div class="multimedia-area">
                                <button type="button" class="btn btn-default" ng-click="creator.addElement(creator.currentWaypoint, 'URL')">Add URL <span class="glyphicon glyphicon-plus"></span></button>
                                <button type="button" class="btn btn-default" ng-click="creator.addElement(creator.currentWaypoint, 'image')">Add Image <span class="glyphicon glyphicon-plus"></span></button>
                                <button type="button" class="btn btn-default" ng-click="creator.addElement(creator.currentWaypoint, 'video')">Add Video <span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" ng-if="creator.guidePart === 'badge' && creator.canAdmin">
                        <header class="section-header" style="margin-bottom:15px">
                            <h3 class="section-title content-title"><span>Create Badge for {{creator.pathway.title}}</span></h3>
                        </header>
                        <div class="tab-pane active text-style">
                            <div class="progress">
                                <div data-percentage="0%" style="width: 10%;" class="progress-bar progress-bar-default" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="col-md-3">
                                <img class="img-responsive" ng-src="{{creator.badgeImage}}" alt="Create a badge by uploading an image"/>
                            </div>
                            <div class="col-md-9">
                            <h3>Upload Image</h3>
                            <button type="button" class="btn btn-default">
                                <label class="badge-label">Choose File
                                    <input class="badge-file" type="file" file-model="creator.myFile" name="file"><br /><br />
                                </label>
                            </button>
                            <button type="button" class="btn btn-default" ng-disabled="creator.submitDisabled()" ng-click="creator.createBadge()">
                                {{creator.badgeButtonText()}}
                            </button>
                            <span>Chosen file: {{creator.myFile.name || 'None Selected'}}</span>
                            </div>
<!--                <input type="submit" id="submit" value="{{creator.badgeButtonText()}}" ng-disabled="creator.submitDisabled()">-->
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>
</div>