<ng-include src="'../header/header.html'"></ng-include>
<div class="container-fluid text-center" style="height: 800px;" ng-controller="CreateController as creator">
    <div class="row create-header">
        <div class="col-sm-2 text-left">
            <a ui-sref="explore"><span class="glyphicon glyphicon-arrow-left"></span> Back to Explore</a>
        </div>
    </div>
    <div class="row" id="waypoint-nav">
        <!-- Should the current waypoint be refactored into the route? e.g. /create/:pathwayId/:waypoint, then view switching based on the route stateParams is natural -->
        <div class="col-lg-11">
            <div ng-click="creator.onMetadata = 1" class="waypoint" ng-class="{'waypoint-active': creator.onMetadata}">Overview</div>
            <div ng-click="creator.currentWaypoint = waypoint.index; creator.onMetadata = 0" ng-repeat="waypoint in creator.waypoints" ng-class="{'waypoint-active': creator.currentWaypoint === waypoint.index && !creator.onMetadata}" class="waypoint">
                {{waypoint.text}}
            </div>
        </div>
        <div class="col-lg-1">
            <div ng-click="creator.addWaypoint()" class="pathway-action"><span class="glyphicon glyphicon-plus"></span></div>
            <div ng-click="creator.savePathway()" class="pathway-action"><span class="glyphicon glyphicon-floppy-disk"></span></div>
        </div>
    </div>
    <div class="row pathway-container">
        <div ng-if="creator.onMetadata" class="form-horizontal" >
            <h2>Overview</h2>
            <div class="form-group">
                <label for="pahtway-title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="creator.pathway.title" id="pathway-title" placeholder="Pathway Title"/>
                </div>
            </div>
            <div class="form-group">
                <label for="pahtway-desc" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="creator.pathway.description" placeholder="One Sentence Description"/>
                </div>
            </div>
            <div class="form-group">
                <label for="pahtway-longdesc" class="col-sm-2 control-label">Long Description</label>    
                <div class="col-sm-10">
                    <textarea rows="1" class="form-control" ng-model="creator.pathway.longDescription" placeholder="Longer Description"> 
                    </textarea>
                </div>
            </div>    
            <div class="form-group">
                <label for="pahtway-notes" class="col-sm-2 control-label">Author's Notes</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="creator.pathway.authorNotes" placeholder="Author's Notes"/>
                </div>
            </div>    
            <div class="form-group">
                <label for="pahtway-materials" class="col-sm-2 control-label">Materials / Requirements</label>    
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="creator.pathway.materials" placeholder="Materials/Requirements"/>
                </div>
            </div>
            <select ng-model="creator.pathway.targetAges" ng-options="grade.desc for grade in creator.gradeList track by grade.index">
                <option value="">Target Grade</option>
            </select>
            <select ng-model="creator.pathway.subjectAreas" ng-options="subject for subject in creator.subjectList">
                <option value="">Subject Area</option>
            </select>
            <select ng-model="creator.pathway.environments" ng-options="env for env in creator.learningEnvList">
                <option value="">Learning Evironment</option>
            </select>
            <tags-input class="bootstrap" ng-model="creator.pathway.standards" type="text" replace-spaces-with-dashes="false" placeholder="Standards"></tags-input>
            <tags-input class="bootstrap" ng-model="creator.pathway.tags" type="text" replace-spaces-with-dashes="false" placeholder="Tags"></tags-input>
        </div>
        <!-- This is pretty bad, man. I should probably fix the scoping -->
        <div ng-if="!creator.onMetadata">
            <div class="col-md-4 col-md-offset-4" style="margin-bottom: 10px;"><input type="text" class="form-control text-center" ng-model="creator.waypoints[creator.currentWaypoint].text" placeholder="Waypoint Title"/></div>
            <div class="rm-waypoint text-right" ng-click="creator.deleteWaypoint(creator.currentWaypoint)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Delete Waypoint</div>
            <textarea ng-model="creator.waypoints[creator.currentWaypoint].content" class="form-control" rows="10" placeholder="Waypoint Content">
            </textarea>
        </div>
    </div>
    <div class="row badge-container">
        <h2>Badge</h2>
        <div class="col-lg-6">
            <img class="pathway-img-lg" ng-src="{{creator.badgeImage}}" alt="Create a badge by uploading an image"/>
        </div>
        <div class="col-lg-6">
            <h3>Upload Image</h3>
            <form class="badge-form" ng-submit="creator.createBadge()">
                <input class="badge-file" type="file" file-model="creator.myFile" name="file"><br /><br />
                <input type="submit" id="submit" value="{{creator.badgeButtonText()}}" ng-disabled="creator.submitDisabled()">
            </form>
        </div>
    </div>
    
</div>