<ng-include src="'../header/header.html'"></ng-include>
<div ng-controller="CreateController as creator">
<!--
    <div class="col-lg-2">
        <div class="pathway-guide">
            <div class="waypoint" ng-class="{'waypoint-active': creator.guidePart === 'define'}" ng-click="creator.changePart('define', 0)"><span class="waypoint-text"><b>{{creator.pathway.title}}</b></span></div>
            <div ng-repeat="waypoint in creator.waypoints" class="waypoint" ng-class="{'waypoint-active': creator.guidePart === 'waypoint' && creator.currentWaypoint === waypoint.index}" ng-click="creator.changePart('waypoint', waypoint.index)"><span class="waypoint-text">{{waypoint.text}}</span></div>
            <div class="waypoint" ng-class="{'waypoint-active': creator.guidePart === 'badge'}" ng-click="creator.changePart('badge', 0)"><span class="waypoint-text">Earn Badge!</span></div>
        </div>
    </div>
    <div id="learner-overview" class="col-lg-10 section-container" ng-if="creator.guidePart === 'define'">
        <div class="row">
            <div class="col-md-8"><h1>{{creator.pathway.title}}</h1><h4><em>{{creator.pathway.description}}</em></h4></div>
            <div class="col-md-2"><img class="pathway-img-lg" ng-src="{{creator.badgeImage}}" alt="Sorry, no badge exists for this pathway"/></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3><span class="glyphicon glyphicon-triangle-right"></span>Description</h3>
                {{creator.pathway.longDescription}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Materials</h3>
                {{creator.pathway.materials}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Other Information</h3>
                Grade Level: {{creator.pathway.targetAges}} <br/> 
                Subject: {{creator.pathway.subjectAreas}} <br/> 
                Environment: {{creator.pathway.environments}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Tags</h3>
                <tags-input class="bootstrap" ng-model="creator.pathway.tags" type="text" replace-spaces-with-dashes="false" placeholder=""></tags-input>
            </div>
        </div>
    </div>
    <div class="col-lg-10 section-container" ng-if="creator.guidePart === 'waypoint'">
        <h2>{{creator.waypoints[creator.currentWaypoint].text}}</h2>
        <p class="waypoint-content" ng-bind-html="creator.trustContent(creator.waypoints[creator.currentWaypoint].content)"></p>
    </div>
    <div class="col-lg-10 section-container" ng-if="creator.guidePart === 'badge'">
        <h2>Earn Badge</h2>
        <div class="col-lg-3">
            <img class="pathway-img-lg" ng-src="{{creator.badgeImage}}" alt="Sorry, no badge exists for this pathway"/>
        </div>
        <div class="col-lg-9">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="pahtway-title" class="col-sm-4 control-label">Credly Username</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="creator.user" id="pathway-title" placeholder="Username"/> 
                    </div>
                    <label for="pahtway-title" class="col-sm-4 control-label">Credly Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" ng-model="creator.pass" id="pathway-title" placeholder="Password"/>
                    </div>
                    <div class="col-sm-8 col-sm-offset-4">
                        {{creator.pathway.evidenceDescription}}
                    </div>
                    <label for="pahtway-title" class="col-sm-4 control-label">Evidence URL</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="creator.evidence" id="pathway-title" placeholder="Evidence URL"/>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default" ng-click="creator.claim()">Claim This Badge</button>
        </div>
    </div>
</div>
-->
    <section id="page-services" class="page-services" style="padding-top:120px">
        <h1 ng-if="!creator.canAdmin && creator.pathway.reviewable == false;">You are previewing this page. Click <a ng-click="creator.submitForReview()">here</a> to submit.</h1>
        <h1 ng-if="!creator.canAdmin && creator.pathway.reviewable == true && creator.pathway.visible == false">Your badge has been submitted. Thank you! We will notify you once it has been reviewed.</h1>
        <div class="container" style="padding-bottom:10px" ng-if="creator.guidePart === 'define'">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-responsive" ng-src="{{creator.badgeImage}}" alt="A badge image will be created upon submission review" style="height: 200px"/><div class="text-left"><a href="{{creator.badgeImage}}" download="{{vm.pathway.title + ' badge.png'}}"><span class="glyphicon glyphicon-cloud-download"></span> Download Badge Image</a></div>
                    <div class="badge-meta">
                        <h3><small>grade</small><br/><div ng-repeat="age in creator.pathway.targetAges">{{age}} </div></h3>
                        <h3><small>subject area</small><br/><div ng-repeat="subject in creator.pathway.subjectAreas">{{subject}} </div></h3>
                        <h3><small>learning environment</small><br/><div ng-repeat="env in creator.pathway.environments">{{env}} </div></h3>
                    </div>
                    <br>
                    <button class="btn btn-default btn-block" ng-click="creator.changePart('waypoint', 0)">
                        Start Lesson
                    </button>
                </div>
                <div class="col-md-9">
                <header class="section-header" style="margin-bottom:15px;border-bottom:2px solid gainsboro">
                    <h2 class="section-title content-title"><span>{{creator.pathway.title}}</span></h2>
                </header>
                
                <h3 class="content-title"><span>Creator</span></h3>
                <p class="section-subtitle content-subtitle">Created by <a href="mailto:{{creator.pathway.creatorEmail}}">{{creator.pathway.creator}}</a> on {{creator.pathway.dateCreated | date: 'longDate'}}</p>
                    
                <h3 class="content-title"><span>Description</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.longDescription}}</p>
                
                <h3 class="content-title"><span>Purpose</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.purpose}}</p>
                    
                <h3 class="content-title"><span>Badge Criteria</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.criteria}}</p>
                    
                <h3 class="content-title"><span>Evidence Description</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.evidenceDescription}}</p>
                    
                <h3 class="content-title"><span>Assessment</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.assessment}}</p>
                 
                <h3 class="content-title"><span>Author's Notes</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.authorNotes}}</p>
                 
                <h3 class="content-title"><span>Materials</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.materials}}</p>
                    
                <h3 class="content-title"><span>Minimum Requirements</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.minimumRequirements}}</p>
                    
                <h3 class="content-title"><span>Time to Earn</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.timeToEarn}}</p>
                    
                <h3 class="content-title"><span>National Geography Learning Standards</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.pathway.natGeoStandards}}</p>   
                
                <h3 class="content-title"><span>Other Learning Standards</span></h3>
                <p class="section-subtitle content-subtitle"><i>{{creator.tagsToList(creator.pathway.standards)}}</i></p>
                    
                <h3 class="content-title"><span>Mapping or GIS Platforms</span></h3>
                <p class="section-subtitle content-subtitle"><i>{{creator.tagsToList(creator.pathway.tools)}}</i></p>
                
                <h3 class="content-title"><span>Tags</span></h3>
                <p class="section-subtitle content-subtitle">{{creator.tagsToList(creator.pathway.tags)}}</p>
                
                <p class="section-subtitle content-subtitle"><i>Add Tags</i><tags-input class="bootstrap" ng-model="creator.newTags" type="text" replace-spaces-with-dashes="false" placeholder="Enter a Tag"></tags-input><button class="btn btn-sm" ng-click="creator.saveUserTags()">Save</button></p>
                    
                <h3 class="content-title"><span>Supporting Reasearch</span></h3>
                <p class="section-subtitle content-subtitle"><i>{{creator.pathway.research}}</i></p>

                </div>
            </div>
        </div>
        <div class="container" style="padding-bottom:10px" ng-if="creator.guidePart === 'waypoint' || creator.guidePart === 'badge'">
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-default btn-block" ng-click="creator.changePart('define', 0)">
                        Back to Overview
                    </button>  
                    <nav class="nav-sidebar">
                        <ul class="nav tabs" style="max-height:450px;overflow-y:scroll">
                            <li ng-repeat="waypoint in creator.waypoints" ng-class="{'active': creator.guidePart === 'waypoint' && creator.currentWaypoint === waypoint.index}" ng-click="creator.changePart('waypoint', waypoint.index)">
                                <a>
                                    Step {{waypoint.index + 1}} of {{creator.pathway.waypoints.length + 1}}
                                    <br>
                                    <small>{{waypoint.text}}</small>
                                </a>
                            </li>
                            <li ng-class="{'active': creator.guidePart === 'badge'}" ng-click="creator.changePart('badge', 0)">
                                <a>
                                    Step {{creator.pathway.waypoints.length + 1}} of {{creator.pathway.waypoints.length + 1}}
                                    <br>
                                    <small>Earn Badge</small>
                                </a>
                            </li>  
                        </ul>
                    </nav>
                </div>
                <!-- tab content -->
                <div class="col-md-9">
                    <div class="tab-content" ng-if="creator.guidePart === 'waypoint'">
                        <header class="section-header" style="margin-bottom:15px">
                            <h3 class="section-title content-title"><span>{{creator.pathway.title}}</span></h3>
                        </header>
                        <div class="tab-pane active text-style">
                            <div class="progress">
                                <div data-percentage="0%" style="width: 10%;" class="progress-bar progress-bar-default" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h3>{{creator.waypoints[creator.currentWaypoint].text}}</h3>
                            <p class="waypoint-content" ng-bind-html="creator.trustContent(creator.waypoints[creator.currentWaypoint].content)">
                            </p>
                        </div>
                    </div>
                    <div class="tab-content" ng-if="creator.guidePart === 'badge'">
                        <header class="section-header" style="margin-bottom:15px">
                            <h3 class="section-title content-title"><span>Earn Badge for {{creator.pathway.title}}</span></h3>
                        </header>
                        <div class="tab-pane active text-style" ng-if="!creator.canEdit">
                            <div class="progress">
                                <div data-percentage="0%" style="width: 10%;" class="progress-bar progress-bar-default" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="col-lg-3">
                                <img class="pathway-img-lg" ng-src="{{creator.badgeImage}}" alt="Sorry, no badge exists for this pathway"/>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        GeoBadges uses Credly for earning and issuing badges. If you don't have a Credly account yet, create one <a href="https://credly.com/" target="_blank">here</a>.
                                            <label for="pahtway-title" class="col-sm-4 control-label">Credly Username</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="creator.user" id="pathway-title" placeholder="Username"/> 
                                            </div>
                                            <label for="pahtway-title" class="col-sm-4 control-label">Credly Password</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" ng-model="creator.pass" id="pathway-title" placeholder="Password"/>
                                            </div>
                                            <div class="col-sm-8 col-sm-offset-4">
                                                 {{creator.pathway.evidenceDescription}} <span ng-if="!creator.pathway.requireEvidence">(Note: evidence is not required for this badge)</span>
                                            </div>
                                            <label for="pahtway-title" class="col-sm-4 control-label">Evidence URL</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="creator.evidence" id="pathway-title" placeholder="Evidence URL"/>
                                            </div>
                                    </div>
                                </div>
                                <div ng-if="!creator.canClaim()">
                                    <span ng-if="creator.pathway.requireEvidence">Please enter your username, password, and evidence link before continuing</span>
                                    <span ng-if="!creator.pathway.requireEvidence">Please enter your username and password before continuing</span>
                                </div>
                                <button type="button" class="btn btn-default" ng-disabled="!creator.canClaim()" ng-click="creator.claim()">Claim This Badge</button>
                                <div ng-if="creator.submitting">Submitting evidence...</div>
                            <div ng-if="creator.claimed && !creator.claimFailed" class="alert alert-success" style="margin-top: 20px;"><span class="glyphicon glyphicon-ok-circle"></span> Congratulations, your evidence has been successfully submitted for review! If it's accepted you'll receive an email saying you have earned this badge.</div>
                            <div ng-if="creator.claimFailed" class="alert alert-danger" style="margin-top: 20px;"><span class="glyphicon glyphicon-exclamation-sign"></span>Something went wrong with your request. Make sure you have entered you credentials correctly, or please try submitting again later.</div>
                            </div>
                        </div>
                        <div class="tab-pane active text-style" ng-if="creator.canEdit">
                            A form for learners to claim your badge will appear here once submitted.
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <p ng-if="creator.getCCUrl(creator.pathway.ccLicense) != ''">The content on this page is available under the <a href="{{creator.getCCUrl(creator.pathway.ccLicense)}}" target="_blank">Creative Commons {{::creator.pathway.ccLicense}} License</a> </p>
        <div style="width:80%; margin: auto">
            <div id="disqus_thread"></div>
        </div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
</div>